* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "poppins";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff6e9;
}

h2 {
  margin: 0;
  text-align: center;
  color: #cd5c08;
  font-size: 2rem;
}

.app {
  background-color: #f5e8b7;
  width: 80%;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 1rem 2rem;
}

.todo-form {
  display: flex;
  background-color: #219c90;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 5px;
}

input {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #f8f0e5;
  letter-spacing: 3px;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

.input-btn {
  padding: 10px 50px;
  font-size: 1rem;
  background-color: #d83f31;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.input-btn:active {
  border-color: #555;
}

.output {
  background-color: #e9b824;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1rem;
  list-style: none;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fce09b;
  padding: 1rem;
  border-bottom: 1px solid #132043;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b2533e;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  order: 3;
}

footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

footer p {
  color: rgb(206, 155, 59);
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #219c90;
  cursor: pointer;
  margin-right: 1rem;
}

.text-box {
  display: flex;
  align-items: center;
}

.selected {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}


@media screen and (max-width: 550px) {
  .app {
    width: 100%;
    margin: 2rem auto;
    padding: 0.5rem 0.5rem;
  }

  .todo-form {
    padding: 1rem;
  }

  input {
    padding: 1rem;
    font-size: 0.8rem;
    letter-spacing: 3px;
  }

  .input-btn {
    padding: 10px 20px;
    font-size: 0.8rem;
  }

  .output {
    padding: 1rem;
  }

  .list {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  .delete-btn {
    font-size: 1rem;
  }

  input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }

  .selected {
    text-decoration-thickness: 1px;
  }

  footer p {
    padding: 0rem 1rem;
    text-align: center;
  }
}

